<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/nav.ejs') %>
    <div class="container">
      
    <h5>All Blogs</h5>
    <% for(blog of blogs) {%>
      <div style="border-left: solid 0.3em;
      border-left-color: black;" class="card mb-2" >
        <div class="card-body">
          <a style="text-decoration: none;color: black;" href="/blogs/<%= blog._id %>">
            <h5 class="card-title"><%= blog.title %></h5>
          </a>
          <p class="card-text"><%= blog.content %>
            <a style="text-decoration: none;" href="#" class="card-link">Read more...</a>
        </p>
        </div>
      </div>

    <%}%>
    
    
            

    <%- include("partials/footer.ejs") %>
    </div>
</body>
</html>